.inputSection{
    max-width: 70%;
    margin: 0 auto;;
}
.inputSection input{
    width: 65%;
    border-radius:  25px 0px 0px 25px;
    padding: 10px;
}
.inputSection button{
    width: 25%;
    margin-left: -6px;
    background-color: skyblue;
    border: none;
    padding: 12px;
    border-radius:  0px 25px 25px 0px;
}

#meal{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    margin-top: 50px;

}
.mealItem{
    border-radius: 15px;
    box-shadow: 10px 10px 10px gray;
    background-color: rgb(223, 227, 228);
}
.mealImg img{
    width: 100%;
    display: block;
}
.mealName{
    text-align: center;
}
